:root {
  --link-color: #14ff47;
  --link-hover: #00fbff;
  --link-visited: #ff7b00;
  --link-active: #00ff88;
  --primary-accent: #00aaff;
  --food-font: "Yatra One", system-ui;
}

::selection,
::-moz-selection {
  background: #000;
  color: white;
  background-color: ;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 1.3s ease;
}
a:visited {
  color: var(--link-visited);
}                                         
a:hover {
  color: var(--link-hover);
}
a:active {
  color: var(--link-active);
}

.header-menu-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  .header-menu-content {
    flex-direction: row;
  }
}

.header-menu-content h1 {
  color: var(--primary-accent);
  text-align: center;
  font-family: "Bungee Spice", sans-serif; 
  font-weight: 400;
  font-size: 50px;
  padding: 20px;
}


.Planets-List {
size: 120px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 20px;
  justify-items: center;
  
  
}
body {
  margin: 0;
  height: 100vh;
  background: black;
  overflow: hidden;
}
footer {
  text-align: center;
  padding: 20px;
  font-size: 14px;
  color: white;
}
