:root {
    background-image: repeating-radial-gradient(black);
    --link-color: #00aaff;
    --link-hover: #ff6600;
    --link-visited: #aa00ff;
    --link-active: #ff3c00;
    
}

::-moz-selection {
    background: #000000;
    color: white;
  }
  
  ::selection {
    background: #000000;
    color: white;
  }


  header {
    color: #00aaff;
    text-align: center;
    font-style: normal;
    font-family: "Bungee Spice", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px
}

.menu-body {
    color: #00aaff;
    text-align: center;
    text

}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 1s ease;
}

a:visited {
  color: var(--link-visited);
}

a:hover {
  color: var(--link-hover);
  text-decoration: underline;
}

a:active {
  color: var(--link-active);
}
