:root {
  --link-color: #14ff47;
  --link-hover: #00fbff;
  --link-visited: #ff7b00;
  --link-active: #00ff88;
  --primary-accent: #00aaff;
  --food-font: "Yatra One", system-ui;
}

::selection,
::-moz-selection {
  background: #000;
  color: white;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color 1.3s ease;
}
a:visited {
  color: var(--link-visited);
}                                          /* Link hovberrr */
a:hover {
  color: var(--link-hover);
}
a:active {
  color: var(--link-active);
}

.header-menu-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  .header-menu-content {
    flex-direction: row;
  }
}

.header-menu-content h1 {
  color: var(--primary-accent);
  text-align: center;
  font-family: "Bungee Spice", sans-serif; 
  font-weight: 400;
  font-size: 50px;
  padding: 20px;
}


.Planets-List {

}